{% extends "portal_nieruchomosci/base.html" %}

{% block title %}Dodaj ofertę{% endblock %}

{% block content %}
<h2>➕ Dodaj ofertę</h2>

{% if error %}
  <p style="color:red;">{{ error }}</p>
{% endif %}

<form method="post">
  {% csrf_token %}

  <p>
    <label>Tytuł *</label><br>
    <input type="text" name="title" required>
  </p>

  <p>
    <label>Lokalizacja *</label><br>
    <input type="text" name="location" required>
  </p>

  <p>
    <label>Typ transakcji *</label><br>
    <select name="transaction_type" required>
        <option value="S">Sprzedaż</option>
        <option value="W">Wynajem</option>
    </select>
  </p>

  <p>
    <label>Cena (PLN) *</label><br>
    <input type="number" step="0.01" name="price" min="0" required>
  </p>

  <p>
    <label>Metraż (m²) *</label><br>
    <input type="number" step="0.01" name="square_meters" min="0" required>
  </p>

  <p>
    <label>Opis</label><br>
    <textarea name="description" rows="5"></textarea>
  </p>

 {% if request.user.is_superuser %}
  <p>
    <label>Agent</label><br>
    <select name="agent">
      <option value="">— brak —</option>
      {% for a in agents %}
        <option value="{{ a.pk }}">{{ a.first_name }} {{ a.last_name }}</option>
      {% endfor %}
    </select>
  </p>
{% endif %}

  <p>
    <label>Typ nieruchomości</label><br>
    <select name="property_type">
      <option value="">— brak —</option>
      {% for t in types %}
        <option value="{{ t.pk }}">{{ t.name }}</option>
      {% endfor %}
    </select>
  </p>

  <h3>Udogodnienia</h3>
  <p>
    <label><input type="checkbox" name="pool"> Basen</label><br>
    <label><input type="checkbox" name="sauna"> Sauna</label><br>
    <label><input type="checkbox" name="jacuzzi"> Jacuzzi</label><br>
    <label><input type="checkbox" name="lift"> Winda</label><br>
    <label><input type="checkbox" name="garage"> Garaż</label><br>
    <label><input type="checkbox" name="balcony"> Balkon</label><br>
    <label><input type="checkbox" name="terrace"> Taras</label><br>
    <label><input type="checkbox" name="garden"> Ogród</label><br>
    <label><input type="checkbox" name="AC"> Klimatyzacja</label><br>
    <label><input type="checkbox" name="safety_system"> System bezpieczeństwa</label><br>
    <label><input type="checkbox" name="needs_renovation"> Wymaga remontu</label>
  </p>

  <button type="submit" class="btn">Zapisz</button>
  <a class="btn-tertiary" href="{% url 'property-list-html' %}">Anuluj</a>
</form>

{% endblock %}