{% extends "portal_nieruchomosci/base.html" %}

{% block title %}{{ property.title }}{% endblock %}

{% block content %}
<h2>{{ property.title }}</h2>

<p>Lokalizacja: {{ property.location }}</p>
<p>Cena: {{ property.price }} PLN</p>
<p>Metraż: {{ property.square_meters }} m²</p>
<p>Typ transakcji (S - Sprzedaż, W - Wynajem): {{ property.transaction_type }}</p>
<p>Agent: {{ property.agent }}</p>
<p>
            ✉️ <a href="mailto:{{ property.agent.email|default:'' }}">
                {{ property.agent.email|default:"-" }}
            </a>
        </p>
<p>Opis: {{ property.description }}</p>

<h3>Udogodnienia:</h3>
<ul>
    {% if property.pool %}<li>Basen</li>{% endif %}
    {% if property.sauna %}<li>Sauna</li>{% endif %}
    {% if property.jacuzzi %}<li>Jacuzzi</li>{% endif %}
    {% if property.lift %}<li>Winda</li>{% endif %}
    {% if property.garage %}<li>Garaż</li>{% endif %}
    {% if property.balcony %}<li>Balkon</li>{% endif %}
    {% if property.terrace %}<li>Taras</li>{% endif %}
    {% if property.garden %}<li>Ogród</li>{% endif %}
    {% if property.AC %}<li>Klimatyzacja</li>{% endif %}
    {% if property.safety_system %}<li>System bezpieczeństwa</li>{% endif %}
    {% if property.needs_renovation %}<li>Wymaga remontu</li>{% endif %}
</ul>

{% if request.user.is_superuser %}
    <div style="margin-top: 20px; margin-bottom: 20px; padding-top: 15px; border-top: 1px solid #ddd;">
        
        <a class="btn-tertiary" href="{% url 'property-update-html' property.id %}">
            Edytuj ofertę
        </a>

        <form method="post" style="display:inline; margin-left: 10px;">
            {% csrf_token %}
            <button type="submit" class="btn" style="background-color: #d33030; border: none; color: white;"
                    onclick="return confirm('Czy na pewno chcesz usunąć tę nieruchomość?');">
                 Usuń ofertę
            </button>
        </form>
        
    </div>
{% endif %}
<p>
    <a href="{% url 'property-list-html' %}">← Wróć do listy</a>
</p>

{% endblock %}