{% extends "portal_nieruchomosci/base.html" %}

{% block title %}Lista klientów{% endblock %}

{% block content %}
<h2>Lista klientów</h2>

<p>
    <a class="btn" href="{% url 'klient-create-html' %}">+ Dodaj nowego klienta</a>
    <a class="btn" href="{% url 'klient-search-html' %}"> Szukaj klienta</a>
</p>


<table class="simple-table">
    <thead>
        <tr>
        <th>ID</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Płeć</th>
        <th>Email</th>
        </tr>

    </thead>
    <tbody>
    {% for klient in klienci %}
    <tr>
        <td>{{ klient.id }}</td>
        <td>{{ klient.imie }}</td>
        <td>{{ klient.nazwisko }}</td>
        <td>{{ klient.plec }}</td>
        <td> {{ klient.email|default:"-" }}</td>
            
        <td> 
                <a class="btn-tertiary" href="{% url 'klient-detail-html' klient.id %}">
                    Szczegóły
                </a>
        </td>

        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="6">Brak klientów w bazie.</td>
    </tr>
    {% endfor %}
</tbody>

</table>
{% endblock %}
