{% extends "portal_nieruchomosci/base.html" %}

{% block title %}Szukaj klientów{% endblock %}

{% block content %}
<h2> Wyszukiwarka klientów</h2>

<form method="get" action="{% url 'klient-search-html' %}">
    <label for="q">Szukaj po imieniu lub nazwisku:</label>
    <input type="text" id="q" name="q" value="{{ query }}">
    <button type="submit" class="btn">Szukaj</button>
</form>

<hr>

{% if query %}
    <p>Wyniki dla: <strong>{{ query }}</strong></p>
{% endif %}

<table class="simple-table">
    <thead>
        <tr>
            <th>PK</th> <th>Imię</th>
            <th>Nazwisko</th>
            <th>Płeć</th>
            <th>Data dodania</th>
            <th>Akcja</th>
        </tr>
    </thead>
    <tbody>
        {% for klient in klienci %}
        <tr>
            <td>{{ klient.pk }}</td> <td>{{ klient.imie }}</td>
            <td>{{ klient.nazwisko }}</td>
            <td>{{ klient.plec }}</td>
            <td>{{ klient.data_dodania }}</td>
            <td>
            <a href="{% url 'klient-detail-html' pk=klient.pk %}" class="btn-tertiary">
                Szczegóły
            </a>
        </td>
        </tr>
        {% empty %}
        {% if query %}
        <tr>
            <td colspan="6">Brak wyników dla podanego zapytania.</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">Wpisz imię lub nazwisko i kliknij „Szukaj”.</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}