{% extends "portal_nieruchomosci/base.html" %}

{% block title %}Edytuj klienta{% endblock %}

{% block content %}
<h2> Edytuj klienta</h2>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

<form method="post">
    {% csrf_token %}

    <p>
        <label>Imię</label><br>
        <input type="text" name="imie" value="{{ klient.imie }}">
    </p>

    <p>
        <label>Nazwisko</label><br>
        <input type="text" name="nazwisko" value="{{ klient.nazwisko }}">
    </p>
    <p>
        <label>Email</label><br>
        <input type="email" name="email" value="{{ klient.email|default:'' }}">
    </p>

    <p>
        <label>Płeć</label><br>
        <select name="plec">
            <option value="K" {% if klient.plec == "K" %}selected{% endif %}>Kobieta</option>
            <option value="M" {% if klient.plec == "M" %}selected{% endif %}>Mężczyzna</option>
            <option value="I" {% if klient.plec == "I" %}selected{% endif %}>Inna</option>
        </select>
    </p>

    <button type="submit" class="btn">Zapisz zmiany</button>
    <a class="btn-tertiary" href="{% url 'klient-detail-html' klient.id %}">Anuluj</a>
</form>
{% endblock %}
