{% extends "portal_nieruchomosci/base.html" %}

{% block title %}Lista agentów{% endblock %}

{% block content %}
<h2>Lista agentów</h2>
    {% if request.user.is_superuser %}
    <p>
        <a class="btn" href="{% url 'agent-create-html' %}">+ Dodaj agenta</a>
    </p>
    {% endif %}

{% for a in agents %}
    <p>
        <strong>{{ a.first_name }} {{ a.last_name }}</strong><br>
        Region: {{ a.region }}<br>
        <a href="{% url 'agent-detail-html' pk=a.pk %}">Szczegóły</a>
    </p>
    <hr>
{% empty %}
    <p>Brak agentów.</p>
{% endfor %}
{% endblock %}