{% extends "portal_nieruchomosci/base.html" %}
{% block title %}Edytuj agenta{% endblock %}

{% block content %}
<h2>Edytuj agenta</h2>

{% if error %}
  <p style="color:red;">{{ error }}</p>
{% endif %}

<form method="post">
  {% csrf_token %}

  <p>
    <label>Imię</label><br>
    <input type="text" name="first_name" value="{{ agent.first_name }}" required>
  </p>

  <p>
    <label>Nazwisko</label><br>
    <input type="text" name="last_name" value="{{ agent.last_name }}" required>
  </p>

   <p>
    <label>Email</label><br>
    <input type="email" name="email" value="{{ agent.email }}">
  </p>

  <p>
    <label>Region</label><br>
    <input type="text" name="region" value="{{ agent.region }}" maxlength="3">
  </p>

  <button type="submit" class="btn">Zapisz zmiany</button>
  <a class="btn-tertiary" href="{% url 'agent-detail-html' agent.id %}">
    Anuluj
  </a>
</form>
{% endblock %}